<footer>
    <div class="footercontainer">
        <div class="copyright">
            <p>All content &copy; 2017, Boyd Lake. Some content &copy; to their various owners.</p>
        </div>
    </div>
</footer>
