<header>
    <div id="banner">
        <div id="upperBannerWrap">
            <img src="../images/dwight.png" alt="Dwight's head">
            <div class="textbox">
                <h1 id="logo_subtype">Mega Escritorio</h1>
                <p>Because it's Mega Desk!!!</p>
             </div>
        </div>
    </div>

    <nav>
        <ul class="topnav" id="myTopnav">
            <li class="nav_bar"><a href="MegaEscritorio.cshtml">Home</a></li>
            <li class="nav_bar"><a href="AddOrder.cshtml">New</a></li>
        </ul>
    </nav>
</header> 
