@{

    var db = Database.Open("MegaEscritorioOrders");
    var selectCommand = "SELECT * FROM Orders";
    var searchTerm = "";

    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Orders WHERE Name = @0";
        searchTerm = Request.QueryString["searchName"];
    }

    if (!Request.QueryString["searchMaterial"].IsEmpty())
    {
        selectCommand = "SELECT * FROM Orders WHERE Material LIKE @0";
        searchTerm = "%" + Request["searchMaterial"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Name", rowsPerPage: 5);

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mega Escritorio</title>
    <link rel="stylesheet" type="text/css" href="main.css">

</head>
<body>
    @RenderPage("~/shared/_header.cshtml")
    <main>
        <form method="get">
            <div>
                <label for="searchName">Name to look for: (Leave blank to list all names.) </label>
                <input type="text" name="searchName" id="searchName" value="" />
                <input type="Submit" value="Search Names" />
            </div>
            <div>
                <label for="searchMaterial">Material contains the following:</label>
                <input type="text" name="searchMaterial" id="searchMaterial" value="@Request.QueryString["searchMaterial"]" />
                <input type="Submit" value="Search Material" /><br />
            </div>

        </form>
        <div class="orderDisplay">
            @grid.GetHtml(

     tableStyle: "grid",
     headerStyle: "head",
     alternatingRowStyle: "alt",
     columns: grid.Columns(
     grid.Column(format: @<a href="~/EditOrder?id=@item.ID">Edit</a>),
     grid.Column("Name"),
     grid.Column("Width", canSort: false),
     grid.Column("Depth", canSort: false),
     grid.Column("Drawers", canSort: false),
     grid.Column("Material", canSort: false),
     grid.Column("Shipping", canSort: false),
     grid.Column("Cost", canSort: false),
     grid.Column("Date"),
     grid.Column(format: @<a href="~/DeleteOrder?id=@item.ID">Delete</a>)
        )
       )

        </div>

        <p>
            <a href="~/AddOrder">Add an order</a>
        </p>
    </main>
    @RenderPage("~/shared/_footer.cshtml")
</body>
</html>